* {
  box-sizing: border-box;
  margin: 0;
  font-family: monospace;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0.5rem;

  padding: 1rem;
}

main {
  margin: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1rem;

  margin-bottom: 1rem;
}

.card {
  display: grid;
  grid-template: auto auto auto auto / auto auto 1fr;
  grid-template-areas:
    "n n n"
    "w w w"
    "r r r"
    "delete edit space";
  column-gap: 1rem;
  row-gap: 0.5rem;

  padding: 1rem;
  border: 2px solid black;
}

button {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.delete-btn {
  grid-area: delete;
  background-color: darkred;
  color: white;
}

.edit-btn {
  grid-area: edit;
}

.card-name {
  grid-area: n;
}

.card-weight {
  grid-area: w;
}

.card-reps {
  grid-area: r;
}
